{% extends 'store/main.html' %}
{% load static %}

{% block content %}
<div class="row">

    <div class="col-lg-6">
        <div class="box-element"  id="form-wrapper">
            <form action="">
                <div id="user-info">

                </div>
                <div id="shipping-info">

                </div>
                <br>
                <button class="btn btn-dark" value="Continue" type="submit"></button>
            </form>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="box-element">

        </div>
    </div>

</div>{% endblock %}